.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderText {
  position: relative;
  margin-top: 20px;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.loaderText span {
  color: #fff;
}

.loaderText::before {
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  animation-name: loading;
  animation-timing-function: step-start;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  25% {
    width: 80%;
  }
  50% {
    width: 86%;
  }
  75% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
