.loginFormControl {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.authTypeChange {
  position: relative;
  color: #f300b4;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.authTypeChange::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 2px;
  background-color: #f300b4;
  transition: width 0.3s ease-in-out;
}

.authTypeChange:hover::before {
  width: 100%;
}